<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
</head>
<body>

<h1>📚 Add Book</h1>

<form method="POST">

    <label>Book ID</label><br>
    <input type="text" name="book_id" required><br><br>

    <label>Book Title</label><br>
    <input type="text" name="title" required><br><br>

    <label>Author</label><br>
    <input type="text" name="author" required><br><br>

    <label>Category</label><br>
    <input type="text" name="category" required><br><br>

    <label>Quantity</label><br>
    <input type="number" name="quantity" required><br><br>

    <input type="submit" value="Add Book">

</form>

<br>

<a href="/books">⬅ Back</a>

</body>
</html>