<!DOCTYPE html>
<html>

<head>

    <title>Book Management</title>

    <style>

        body {
            font-family: Arial;
            margin: 40px;
            text-align: center;
        }

        button {

            padding: 12px 20px;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;

        }

        a {
            text-decoration: none;
        }

    </style>

</head>


<body>


<h1>📚 Book Management System</h1>


<hr>


<h2>Manage Books</h2>



<a href="/add_book">
    <button>
        ➕ Add Book
    </button>
</a>



<a href="/view_books">
    <button>
        📖 View Books
    </button>
</a>



<a href="/search_book">
    <button>
        🔍 Search Book
    </button>
</a>



<a href="/update_book">
    <button>
        ✏️ Update Book
    </button>
</a>



<a href="/delete_book">
    <button>
        🗑️ Delete Book
    </button>
</a>



<br><br>


<hr>


<a href="/admin">

    <button>
        ⬅ Back to Dashboard
    </button>

</a>



</body>

</html>